* {
    margin: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: rgb(250, 250, 250);
    width: -moz-available;
    min-height: 100%;
    _margin: 0 2px;
    position: relative;
    line-height: 1em;
}

header {
    _background-color: rgba(200, 200, 200, 0.2);
    border: 2px solid green;
    padding: 2px;
    height: 30px;
    position: sticky;
    top: 0;
    width: -moz-available;
}

main {
    padding-top: 50px;
    padding-bottom: 100px;
    line-height: 1.3em;
    _width: 70%;
    _margin: auto;
}

.page-title {
    padding-left: 1em;
}

.modal-error {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    padding: 0.5em 1.2em;
}

section {
    background-color: lightblue;
    border: 2px solid blue;
    margin: 5px 0;
    padding: 2px;
    font-size: 2em;
}

footer {
    _background-color: rgba(200, 200, 200, 0.2);
    _border: 2px solid red;
    _padding: 2px;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: -moz-available;
    width: -webkit-fill-available;
}

.container {
    _width: 70%;
    margin: auto;
}