<footer>
	<div class="navbar-light alert-info" style="height: inherit;">
		<div class="container" style="padding-top:1em;">
			<div class="row">
				<div class="col-md-6">
					<ul style="list-style: none; margin-left: -1.5em;">
						<li>
							<a class="text-secondary" href="{{ path('legal') }}">Avis legal</a>
						</li>
						<li>
							<a class="text-secondary" href="{{ path('privacitat') }}">Politica de privacitat</a>
						</li>
						<li>
							<a class="text-secondary" href="{{ path('condicions') }}">Termes i condiciones d'us</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 d-none d-md-block">
					<ul class="nav justify-content-end">
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
